@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

main {
  display: flex;
}

body {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(239, 236, 41, 0.8), rgba(219, 49, 43, 0.8)), url(../images/game.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.heading {
  margin-bottom: 5rem;
  margin-left: 2rem;
  margin-top: 2rem;
  font-size: 2rem;
}

.scores {
  flex: 1;
  margin-left: 50px;
  margin-right: 50px;
}

h1,
h2 {
  font-family: 'Comic Neue', sans-serif;
}

.inputs {
  flex: 1;
  margin-left: 7rem;
  margin-right: 7rem;
}

input {
  display: block;
  margin: 0.5rem;
  border-radius: 5px;
  padding: 0.5rem;
}

.flex-container {
  display: flex;
}

.scores-head {
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.btn {
  border: 2px solid black;
  transition: all ease-in 500ms;
  border-radius: 5px;
}

.btn:hover {
  color: white;
  background-color: black;
}

.inputs-score {
  margin-bottom: 1.5rem;
  padding-left: 2rem;
  width: 10px;
}

.inputs-button {
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.scores-body {
  align-items: flex-start;
}

.scores-body .flex-container {
  flex-direction: column;
}

.scores-body > ul > li {
  list-style: none;
  text-align: start;
}

.scores-body > ul {
  align-items: flex-start;
}
